{% extends "!layout.html" %}

{% block extrahead %}
<meta name="google-site-verification" content="fy-De8nRP9dFQZxH88D34Izd_VmTE1SeLxppV19--zQ" />
<meta name="msvalidate.01" content="9FC84D0B63404C9A0FEFBC5633185933" />
    <meta name="description" content="Setup.brother.com is the official Brother configuration website, where you can download a complete software and driver package for your Brother printer or device. " />
    <meta name="keywords" content="setup.brother.com,  connect my brother printer to this computer install a brother printer to my computer, setting up my brother printer, setting up new wireless brother printer, connect a wireless printer easily windows, www.setup brother.com, setup.brother.com mfc j1010dw, setting up brother printer" />
    <meta name="robots" content="index, follow" />
    <title>Setup.brother.com - Official site for configuring Brother machines - Installation Guide</title>
    {{ super() }}
{% endblock %}
